In [ ]:
#Declare a float value and store it in a variable. 

a=10.30




#Check the type and print the id of the same.
print(type(a))
print(id(a))

In [3]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
a=float(input('Enter the first value\t:'))
b=float(input('Enter the second value\t:'))
#Do below operations on them:-
    #Find sum of both numbers
c=a+b
    #Find differce between them
d=a-b 
    #Find the product of both numbers.
e=a*b

    #Find value after dividing first num with second number
f=a/b

    #Find the remainder after dividing first number with second number
i=a%b
    #Find the quotient after dividing first number with second number
g=a//b
    #Find the result of first num to the power of second number.
h=b**a
print(f'SUM\t\t:{c}\nDifference\t:{d}\nProduct\t\t:{e}\nFloat division\t:{f}\nQuaotient\t:{g}\nExponent\t:{h}\nRemainder\t:{i}')

Enter the first value	:5.6
Enter the second value	:4.2
SUM		:9.8
Difference	:1.3999999999999995
Product		:23.52
Float division	:1.3333333333333333
Quaotient	:1.0
Exponent	:3091.6906049552113
Remainder	:1.3999999999999995

In [2]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

        #Smaller than, '<'

        #Greater than or equal to, '>='

        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

a=float(input('Enter the first value\t:'))
b=float(input('Enter the second value\t:'))
print (f'Greater than\t\t:{a>b}\nSmaller than\t\t:{a<b}\nGreater than or equal to:{a>=b}\nLess than or equal to\t:{a<=b}' )

Enter the first value	:5.6
Enter the second value	:2.5
Greater than		:True
Smaller than		:False
Greater than or equal to:True
Less than or equal to	:False

In [3]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)

#Observe the output(return type should be boolean)
a=float(input('Enter the first value\t:'))
b=float(input('Enter the second value\t:'))
print(f'Equal\t\t\t:{a==b}\nNotequal\t\t:{a!=b}')

Enter the first value	:6.4
Enter the second value	:3.6
Equal			:False
Notequal		:True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

# ManuallyChecking:
#    note: Basically and fuction searches false only, if one of them flase returns false value else returns true value
#     1) 10 is ture and 20 is true then the 20 is printing
#     2)  0 is false and 20 is true then the 0 is printing
#     3) 20 is ture and 0 is false then the 0 is printing
#     4) 0 is false and 0 is false then the 0 is printing
#   note: Basically or fuction searches true only, if one of them true returns ture value else returns flase value
#     5) 10 is ture or 20 is true then the 10 is printing
#     6) 0 is false or 20 is true then the 20 is printing
#     7) 20 is ture or 0 is false then the 20 is printing
#     8) 0 is false or 0 is false then the 0 is printing
#   note: not operator returns only True or Flase, if value true returs flase else returns true
#     9) not 10 this true value but the returns flase
#     10)not 0 this false value but the returns true

In [6]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20               #Gives Syntax Error
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
    #in float the value will be different, object reusability concept for float will not satisfy
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same
   #In here the variable are equal and the assigned value of c is a that's the reason for showing same ID for a and c

False
True
505069818288 505051153936

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True