In [2]:
#Declare an int value and store it in a variable. 

a=10


#Check the type and print the id of the same.
print(type(a))
print(id(a))

<class 'int'>
140719668110000

In [14]:
#Take one int value between 0 - 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come same. Check why?
a=10
d=10
print(id(a),id(d))
#Because the value of a and d is similar and it is in between the 0 to 256
#object reusability
print()
#Take one int value either less than -5 or greater than 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come different.Check why?

b=-56
c=-56
print(id(b),id(c))
#Because the value of a and b is similar but that are out of ranged from 0 to 256

140707525862064 140707525862064

35668556880 35668556912

In [1]:
#Arithmatic Operations on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Find sum of both numbers
    #Find differce between them
    #Find the product of both numbers.
    #Find value after dividing first num with second number
    #Find the remainder after dividing first number with second number
    #Find the quotient after dividing first number with second number
    #Find the result of first num to the power of second number.

a=5
b=3
c=a+b
d=a-b
e=a*b
f=a/b
i=a%b
g=a//b
h=b**a

print(c,d,e,f,i,g,h)

8 2 15 1.6666666666666667 2 1 243

In [3]:
#Comparison Operators on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Compare se two numbers with below operator:-
        #Greater than, '>'
        #Smaller than, '<'
        #Greater than or equal to, '>='
        #Less than or equal to, '<='
#Observe their output(return type should be boolean)

a=4
b=5
c=(a>b)
d=(a<b)
e=(a>=b)
f=(a<=b) 
print(c,d,e,f)

False True False True

In [1]:
#Equality Operator
#Take two different intger values.
#Store them in two different variables.
#Equuate them using equality operator (==, !=)
#Observe the output(return type should be boolean)

a=3
b=4
c=(a==b)
d=(a!=b)
print (c,d)

False True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10 and 20)       #----------------------------------------->Output is 20
print(0 and 20)        #----------------------------------------->Output is 0
print(20 and 0)        #----------------------------------------->Output is 0
print(0 and 0)         #----------------------------------------->Output is 0

print(10 or 20)        #----------------------------------------->Output is 10
print(0 or 20)         #----------------------------------------->Output is 20
print(20 or 0)         #----------------------------------------->Output is 20
print(0 or 0)          #----------------------------------------->Output is 0

print(not 10)          #----------------------------------------->Output is False
print(not 0)           #----------------------------------------->Output is True

# ManuallyChecking:
#    note: Basically AND fuction searches false, if one of them flase, returns false else returns true .
#     1) 10 is ture and 20 is true then the 20 is printing
#     2)  0 is false and 20 is true then the 0 is printing
#     3) 20 is ture and 0 is false then the 0 is printing
#     4) 0 is false and 0 is false then the 0 is printing
#   note: Basically OR fuction searches true only, if one of them true returns ture value else returns flase value
#     5) 10 is ture or 20 is true then the 10 is printing
#     6) 0 is false or 20 is true then the 20 is printing
#     7) 20 is ture or 0 is false then the 20 is printing
#     8) 0 is false or 0 is false then the 0 is printing
#   note: not operator returns only True or Flase, if value true returs flase else returns true
#     9) not 10 this true value but the returns flase
#     10)not 0 this false value but the returns true

In [ ]:
#Bitwise Operators
#Do below operations on the values provided below:-
    #Bitwise and(&) -----------------------------------------> 10, 20   -------> Output is 0
    #Bitwise or(|)  -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise(^)     -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise negation(~) ------------------------------------> 10       -------> Output is -11
    #Bitwise left shift  ------------------------------------> 10,2     -------> Output is 40
    #Bitwise right shift ------------------------------------> 10,2     -------> Output is 2
#Cross check the output manually

# 10 --------------> 01010
# 20 --------------> 10100
# ----------------------------
# Bitwise and(&)---> 00000 --------------> 0
# Bitwise or(|)----> 11110 -------------->30
# Bitwise(^)  -----> 11110 -------------->30
#Bitwise negation(~)~n=~10=-(10+1)------>-11
#left shift (10<<2) = 101000------------> 40
#right shift (10>>2)= 0010-------------->  2

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10
b = 10
print(a is b)          #True or False? True
print(a is not b)      #True or False? False

a = 1000
b = 1000
print(a is b)          #True or False?  False
print(a is not b)      #True or False?  True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
print(10+(10*32)5//2**&20+(~(-10))<<2)
# 1)10*32=320
# 2)2**5=32
# 3)320//32-------=20
# 4)~(-10)=9
# 5)20+9=29
# 6)29<<2---------=116
# 7)20&116-------->20

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2' in 'Python2.7.8')              # true
print(10 in [10,10.20,10+20j,'Python'])  # true
print(10 in (10,10.20,10+20j,'Python'))  # true
print(2 in {1,2,3})                      # true
print(3 in {1:100, 2:200, 3:300})        # true
print(10 in range(20))                   # true

In [13]:
#An integer can be represented in binary, octal or hexadecimal form.

a=6
print((bin(a),oct(a),hex(a)))
#Declare one binary, one octal and one hexadecimal value and store them in three different variables.
b=0b1010
c=0o64721
d=0xe345
print((b),(c),(d))
# #Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.
print()
print(bin(9876),oct(9876),hex(9876))

('0b110', '0o6', '0x6')
10 27089 58181

0b10011010010100 0o23224 0x2694

In [ ]:
#What will be the outut of following:-
a = 0b1010000
print(a)
#Decimal value      :80
b = 0o7436
print(b)
#Decimal value      :3870
c = 0xfade
print(c)
#Decimal value      :64222
print(bin(80))
#Binary value       :0b1010000
print(oct(3870))
#octal value        :0o7436
print(hex(64222))
#hexadecimal value  :0xfade
print(bin(0b1010000))
#Binary value       :0b1010000
print(bin(0xfade))
#Binary value       :0b1111101011011110
print(oct(0xfade))
#octal value        :0o175336
print(oct(0o7436))
#octal value       :0o7436
print(hex(0b1010000))
#hexadecimal value :0x50
print(hex(0xfade))
#hexadecimal value :0xfade